@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Open+Sans:wght@300&family=Oswald&family=Tilt+Warp&display=swap');

:root {
    --primary-color: #047aed;
    --secondary-color: #1c3fa8;
    --dark-color: #002240;
    --light-color: #f4f4f4;
}
  
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
  
body {
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
}
  
ul {
    list-style-type: none;
}
  
a {
    text-decoration: none;
}
  
p {
    font-size: 18px;
}

/* Navbar */
.navbar {
    color: white;
    height: 75px;
  }
  
  .navbar ul {
    display: flex;
  }
  
  .navbar a {
    color: white;
    padding: 6px;
    margin: 0 5px;
    font-family: 'Poppins', sans-serif;
    font-weight:600;
    font-size: 18px;
  }
  
  .navbar a:hover {
    border-bottom: 3px solid white;
  }
  
  .navbar .flex {
    justify-content: space-between;
  }

  .logo {
    width: 220px;
    height: 50px;
  }


/*Gallery*/

.box .heading{
  padding-bottom: 25px;
  font-size: 27px;
}
.box{
  padding:25px 10%;
  text-align: center;
}

.box .box-img .image{
    height: 250px;
    border: 4px solid white;
}

.box .box-img .image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

